.test {
    color: rgb(9, 196, 49)
}

.nav-link2 {
    color: rgba(0,0,0,.5);
    display: block;
    padding: .5rem 1rem;
    }

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.border1 {
    border: 2px solid black;
}