{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
<form action="/search" method="POST">
    <input autocomplete=off type="text" name="search" placeholder="Title, Author, ISBN">
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
    <p>{{ secrets }}</p>
        
    <div>{{ searchquery }}</div>

    {% for results in searchquery %}
        <li><a href="{{ url_for('bookid', book_id=results.isbn) }}">{{results.title}}, {{ results.author }}</a></li>
    {% endfor %}
    
{% endblock %}